# SPDX-License-Identifier: Apache-2.0
name: "[Main] Increment to Next Release Version"
on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Ref to run the workflow on:"
        required: true
        default: "main" # Default branch

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  next-main-release:
    name: Increment to Next Release Version
    runs-on: hiero-network-node-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout Code
        id: checkout_code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: "0"
          ref: ${{ inputs.ref }}
          token: ${{ secrets.GH_ACCESS_TOKEN }}

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: "temurin"
          java-version: "21.0.4"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@ac638b010cf58a27ee6c972d7336334ccaf61c96 # v4.4.1
        with:
          cache-disabled: true

      - name: Import GPG Key
        id: gpg_importer
        uses: step-security/ghaction-import-gpg@c86c374c0659a6c2d1284bccf8af889e73ce8fe0 # v6.3.0
        with:
          git_commit_gpgsign: true
          git_tag_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.SVCS_GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.SVCS_GPG_KEY_PASSPHRASE }}

      - name: Install Semantic Version Tools
        id: install_semver
        run: |
          echo "::group::Download SemVer Binary"
          sudo curl -L -o /usr/local/bin/semver https://raw.githubusercontent.com/fsaintjacques/semver-tool/master/src/semver
          echo "::endgroup::"
          echo "::group::Change SemVer Binary Permissions"
          sudo chmod -v +x /usr/local/bin/semver
          echo "::endgroup::"
          echo "::group::Show SemVer Binary Version Info"
          semver --version
          echo "::endgroup::"

      - name: Read Current Version
        id: read_version
        run: |
          current_version="$(./gradlew -q showVersion)"
          echo "Current version: ${current_version}"
          echo "version=${current_version}" >> ${GITHUB_OUTPUT}
          printf "Current Version: ${current_version}" >> ${GITHUB_STEP_SUMMARY}

      - name: Increment Minor Version
        id: increment_version
        run: |
          # Strip the -SNAPSHOT suffix
          base_version="$(semver get release "${{ steps.read_version.outputs.version }}")"

          # Increment the minor version
          new_version="$(semver bump minor "${base_version}")"

          # Add the -SNAPSHOT suffix back
          new_version="${new_version}-SNAPSHOT"

          echo "New version: ${new_version}"
          echo "new-version=${new_version}" >> ${GITHUB_OUTPUT}
          printf "New Version: ${new_version}" >> ${GITHUB_STEP_SUMMARY}

      - name: Update Versions
        run: |
          ./gradlew versionAsSpecified -PnewVersion="${{ steps.increment_version.outputs.new-version }}"

      - name: Add & Commit
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          cwd: "."
          author_name: ${{ secrets.SVCS_GIT_USER_NAME }}
          author_email: ${{ secrets.SVCS_GIT_USER_EMAIL }}
          commit: --signoff
          message: "chore: Minor Version Roll to ${{ steps.increment_version.outputs.new-version }}"
